body {
  background-color:#08080f;
}
h1,h2,h3,h4,h5,h6,p,label {
  color: #f0ecd5;
}
ul {
  list-style-type: none;
}
.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2b42;
  position: fixed;
  top: 0;
  width: 100%;
}
.navelement {
  display: block;
  padding: 8px;
  float:left;
}
.navelement:hover {
  background-color: #08080f;
}
.navelement:last-child {
  border-right: none;
}
.navactive {
  background-color: #04AA6D;
}
